header {
  height: 50px;
  font-weight: 500;
  background-color: #eff2f4;
  margin: 0;
}
body {
    margin: 0;
}
header a {
  text-decoration: none;
}
header a.brand {
  float: left;
  color: #333333;
  line-height: 50px;
  font-size: .9em;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 0 23px;
  border-right: 1px solid #b8b9ba;
}
header a.brand:hover,
header a.brand:active {
  color: #ffffff;
  background-color: #fa5400;
}
header ul {
  border-right: 1px solid #ffffff;
  list-style: none;
}
header ul li {
  float: left;
  border-right: 1px solid #b8b9ba;
  font-size: .75em;
  font-weight: 600;
}
header ul li a {
  display: block;
  border-left: 1px solid #ffffff;
  color: #333333;
  padding: 0 23px;
  line-height: 50px;
}
header ul li a:hover,
header ul li a:active {
  color: #fa5400;
  background-color: #fcfcfc;
}